* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	padding-top: 100px;
}

.main-container {
	display: grid;
	grid-template-columns: 300px 1fr;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
